.image-footer {
    width: 500px;
    height: 500px;
    background: #eee;
    color: #aaa;
}

.image-header {
    width: 100%;
    height: 100%;
    background: black;
    color: black;
}

.image-middle {
    width: 140px;
    height: 140px;
    background: black;
    color: black;
}