h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.image-footer {
    width: 500px;
    height: 500px;
    background: #eee;
    color: #aaa;
}

.image-header {
    min-height: 100%;
    background: black;
    color: black;
    position: fixed;
    min-width: 100%;
}

.image-middle {
    width: 140px;
    height: 140px;
    background: black;
    color: black;
}

.box {
    box-shadow: inset rgba(255, 255, 255, .6) 0 .3em .3em,
    inset rgba(0, 0, 0, .2) 0 -.1em .3em,
    rgba(0, 0, 0, .4) 0 .1em 1px,
    rgba(0, 0, 0, .3) 0 .2em 6px;
}

.avatar {
    width: 70px;
    height: 70px;
    border-radius: 50px;
}

.photo {
    max-width: 40%;
    max-height: 40%;
}

.sort-color {
    background: #e9ecef;
    border: 1px solid #e5e5e5;
    color: #393939;
}

.sort-color a:hover {
    color: white;
}

.grey-color {
    width: 100%;
    background: #e9ecef;
}

.my-size {
    padding-top: 100px;
}

.margin-right {
    margin-right: 10px;
}

main {
    min-height: calc(100vh - 20rem);
}

