body {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: url(../images/grass_texture218.jpg) no-repeat center center fixed;
    background-size: cover;
}

#finish {
    position: absolute;
    top: 200px;
    left: 1200px;
}

#one, #two, a {
    border: 3px outset #505050;
    background-color: #33d3ea;
    text-align: center;
    padding: 15px;
    margin: 20px;
}

#one, #two {
    float: left;
}

a {
    position: absolute;
    bottom: 0;
    right: 0;
    float: right;
    opacity: 0;
    visibility: hidden;
}

#one:hover, #two:hover, a:hover {
    background-color: #d8251f;
}