@font-face {
    font-family: "Emblema One";
    src: url("./font/EmblemaOne-Regular.woff"),
    url("./font/EmblemaOne-Regular.ttf");
}

body {
    margin: 0;
    font-family: 'Courier New', Arial, Helvetica, sans-serif;
    background: url(images/1.jpg) no-repeat center center fixed;
    background-size: cover;
}

#list {
    width: 30%;
    line-height: 1.9em;
    padding: 20px;
    position: absolute;
    left: 50%;
    margin: 5%;
}

ol {
    list-style-type: none;
    background: #a094ff;
    margin: 25px;
    padding: 25px;
    counter-reset: number;
    font-size: 22px;
    border: 3px groove #FFBB00;
}

li {
    background: #4C57D8;
    margin: 15px;
    padding: 4px 0;
    color: white;
    font-weight: bold;
    border: 3px outset white;
}

ol li::before {
    content: counter(number) '.';
    counter-increment: number;
    background: #4C57D8;
    padding: 10px;
}

li span {
    background: #FFBB00;
    padding: 10px 25px;
}

#up {
    font-family: "Emblema One", sans-serif;
    background-color: #FFE240;
    color: #081073;
    padding: 5px 0;
    margin: 0;
}

h1 {
    padding: 0 0 0 50px;
    margin: 100px 0 0 0;
    font-size: 60px;
    left: 20%;
}

.rectangle {
    float: left;
    width: 10%;
    height: 40px;
    background: #4C57D8;
    margin: 0 17px;
    border: 3px outset white;
    padding: 0;
}

#longRectangle {
    width: 50%;
    float: right;
    background: #a094ff;
    margin: 0;
    padding: 0;
}

#threeRectangle {
    background: #081073;
}

#twoRectangle {
    background: #2F3584;
}

#oneRectangle {
    background: #1924B1;
    margin: 0 21px;

}

#downRectangle {
    background: white;
    padding: 2px 0 31px 0;
    margin: 0;
}

.rectangleLower {
    margin: 2px;
    width: 19%;
    height: 25px;
    background: #7279D8;
    border: none;
    padding: 0;
}

#colorRectangle {
    background: #081073;
}

.rectangleIn {
    width: 3%;
    height: 10px;
    margin: 5px;
    background: #081073;
    border: 1px outset white;
}

#inColorRectangle {
    background: #4C57D8;
}

pre {
    float: left;
    left: 50%;
    position: absolute;
    top: 60px;
    font-family: 'Courier New', Arial, Helvetica, sans-serif;
    color: white;
    font-size: 30px;
    font-weight: bolder;
    margin: 15px 0;
}

#down {
    background: #FFE240;
    position: absolute;
    right: 0;
    bottom: 0;
    color: #081073;
    border: 3px groove #FFBB00;
    padding: 5px;
    margin: 10px;
}

p {
    font-family: "Emblema One", sans-serif;
    margin: 0;
    padding: 0;
}
