<html xmlns:th="http://www.thymeleaf.org" lang="en">

<!-- Sidebar Widgets Column -->
<div class="col-md-4">

    <!-- Exchange Rates -->
    <div class="card my-4">
        <h5 class="card-header">Exchange Rates for UAH</h5>
        <div class="card-body">
            <span class="font-weight-bolder d-block" th:text="${rares[0].ccy}"></span>
            <span>buy: <span th:text="${rares[0].buy}"></span> </span>
            <span> sale: <span th:text="${rares[0].sale}"></span> </span>
            <br>
            <span class="font-weight-bolder d-block" th:text="${rares[1].ccy}"></span>
            <span>buy: <span th:text="${rares[1].buy}"></span> </span>
            <span> sale: <span th:text="${rares[1].sale}"></span> </span>
            <br>
            <span class="font-weight-bolder d-block" th:text="${rares[2].ccy}"></span>
            <span>buy: <span th:text="${rares[2].buy}"></span> </span>
            <span> sale: <span th:text="${rares[2].sale}"></span> </span>
        </div>
    </div>

    <!-- Weather -->
    <div class="card my-4">
        <h5 class="card-header">Weather</h5>
        <div class="card-body">
            <img class="float-right" src="" id="icon" alt="temp">
            <h3 class="d-inline" id="city"></h3>
            <p class="d-inline" id="temp"></p>
            <p id="desc"></p>
            <p id="clouds"></p>
            <p class="text-success" id="location"></p>
        </div>
    </div>

    <!-- Search Widget -->
    <div class="card my-4">
        <h5 class="card-header">Search</h5>
        <div class="card-body">
            <form method="get" action="" th:action="@{/posts}">
                <div class="input-group">
                    <label for="search"></label>
                    <input type="text" name="search" required class="form-control" id="search"
                           placeholder="Search by post title...">
                    <span class="input-group-btn">
                        <input
                                type="hidden"
                                th:name="${_csrf.parameterName}"
                                th:value="${_csrf.token}"/>
                <button class="btn btn-secondary" type="submit">Go!</button>
              </span>
                </div>
            </form>
        </div>
    </div>

    <!-- Categories Widget -->
    <div class="card my-4">
        <h5 class="card-header">Categories</h5>
        <div class="card-body">
            <div class="row">
                <ul class="list-unstyled mb-0">
                    <th:block th:each="category : ${categories}">

                        <li class="li">
                            <a role="button" class="btn btn-outline-primary btn-sm but"
                               th:href="@{/posts(category=${category.name})}">
                                <span th:text="${category.name}"></span>
                            </a>
                        </li>

                    </th:block>
                </ul>
            </div>
        </div>
    </div>

    <!-- Side Widget -->
    <div class="card my-4">
        <p class="card-header font-italic">They are looking forward to their family</p>
        <div class="card-body">
            <img src="" class="card-img-top" width="100" th:src="@{/images/post/2.jpg}" alt="pets">
            <p class="font-italic">Phone: 123-456-789</p>
        </div>
    </div>
</div>

<script>

    var info = document.getElementById("location");

    function getLocation() {
        // В ubuntu 18.04  Firefox, Chromium не поддерживают navigator.geolocation.getCurrentPosition,
        // Opera при этом работает.
        //     Читала, что это баг убунты. Поэтому получаю локаль через get и это работает даже при выключенной
        //     геолокациии в браузере.
        //         Данные погоды не храню, т.к погода обновляется каждые 30 мин и
        // пользователь при переходе на другую страницу всегда будет видеть актуальную погоду

        if (navigator.geolocation) {
            // navigator.geolocation.getCurrentPosition(
            //     function (position) {
            //         getCityByCoordinates(position.coords.latitude, position.coords.longitude);
            //     },
            //     function (error) {
            //         console.log(error);
            //         info.innerHTML = "To display the weather in your city, enable geolocation in your browser.";
            //         getWeatherByCity("Kiev");
            //     }
            // );
            fetch('https://location.services.mozilla.com/v1/geolocate?key=test', {method: 'GET'})
                .then((response) => {
                    return response.json();
                })
                .then((data) => {
                    getCityByCoordinates(data.location.lat, data.location.lng);

                }).catch(error => {
                console.error(error);
                setErrorDataWeather();
            });
        } else {
            setErrorDataWeather();
        }
    }

    function getCityByCoordinates(x, y) {

        fetch('https://nominatim.openstreetmap.org/reverse?format=json&lat=' + x + '&lon=' + y, {method: 'GET'})
            .then((response) => {
                return response.json();
            })
            .then((data) => {
                getWeatherByCity(data.address.city);

            }).catch(error => {
            console.error(error);
            setErrorDataWeather();
        });
    }

    function getWeatherByCity(city) {

        fetch('http://api.openweathermap.org/data/2.5/weather?q=' + city +
            '&appid=bc5422a1c3cfc20a7193c6d338279896', {method: 'GET'})
            .then((response) => {
                return response.json();
            })
            .then((data) => {
                setDataWeather(data);

            }).catch(error => {
            console.error(error);
            setErrorDataWeather();
        });
    }

    function setDataWeather(data) {
        document.getElementById("icon").src = "https://openweathermap.org/img/wn/" + data.weather[0].icon + "@2x.png";
        document.getElementById("city").innerHTML = data.name;
        document.getElementById("temp").innerHTML = Math.round(data.main.temp - 273.15) + ' &#8451;';
        document.getElementById("desc").innerHTML = "Sky: " + data.weather[0].description;
        document.getElementById("clouds").innerHTML = "Clouds: " + data.clouds.all + " %";
    }

    function setErrorDataWeather() {
        info.innerHTML = "To display the weather in your city, enable geolocation in your browser.";
        getWeatherByCity("Kiev");
    }

    getLocation();

</script>