<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="include/head.html"></head>

<body>
<header th:replace="include/header.html"></header>

<div class="container">
    <main class="my-size" role="main">
        <h3 class="text-center">Users</h3>

        <span class="float-left text-danger" th:text="${message}"></span>

        <a class="btn btn-primary float-right" th:href="@{/users/create}">
            <svg th:replace="include/icon/add.html"></svg>
            Add new user</a>

        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <th th:text="${user.id}" scope="row"></th>
                <td th:text="${user.name}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.roles}"></td>
                <td>
                    <a th:href="@{/users/delete/{id}(id=${user.id})}">
                        <svg th:replace="include/icon/delete.html"></svg>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

        <div th:replace="include/pagination.html"></div>
    </main>
</div>

<footer th:replace="include/footer.html"></footer>

</body>
</html>