body {
    background: #dadada;
    margin: 0;
}

thead th {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

tbody th {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    left: 0;
}

thead th:first-child {
    left: 0;
    z-index: 5;
}

th {
    background: #4b4b4b;
    color: white;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    font-size: 20px;
    margin: 25px;
    text-align: center;
}

td, th {
    padding: 10px;
    height: 40px;
    width: 150px;
}

tr:nth-child(odd) {
    background: white;
}

tr:nth-child(even) {
    background: #b1a2cd;
}