<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head th:replace="include/head.html"></head>

<body>
<header th:replace="include/header.html"></header>

<div class="container">
    <main class="my-size" role="main">
        <h3 class="text-center">Dogs</h3>
        <p class="text-danger" th:text="${message}"></p>

        <div class="grey-color">
            <div class="btn-group " role="group" aria-label="sort">
                <a th:href="@{/dogs(sort='breed')}" class="btn btn-secondary sort-color">Sorting by breed</a>
                <a th:href="@{/dogs(sort='birthDate')}" class="btn btn-secondary sort-color">Sorting by age</a>
                <a th:href="@{/dogs(sort='gender')}" class="btn btn-secondary sort-color">Sorting by gender</a>
            </div>
            <a sec:authorize="hasRole('ADMIN')" class="btn btn-primary float-right" th:href="@{/dogs/create}">
                <svg th:replace="include/icon/add.html"></svg>
                Add new dog</a>
        </div>

        <table class="table table-hover">
            <thead class="thead-light">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Photo</th>
                <th scope="col">Gender</th>
                <th scope="col">Breed</th>
                <th scope="col">Birth date</th>
                <th scope="col">Info</th>
                <th sec:authorize="hasRole('ADMIN')" scope="col">Edit</th>
                <th sec:authorize="hasRole('ADMIN')" scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="dog : ${dogs}">
                <th th:text="${dog.id}" scope="row"></th>
                <td>
                    <img th:if="${dog.photo == null or dog.photo == ''}" class="avatar box" src=""
                         th:src="@{/uploads/avatar.png}" alt="pet">

                    <img th:unless="${dog.photo == null or dog.photo == ''}" class="avatar box"
                         src="" th:src="@{/uploads/dogs/{photo}(photo=${dog.id + '/' + dog.photo})}" alt="pet">
                </td>
                <td th:text="${dog.gender}"></td>
                <td th:text="${dog.breedName}"></td>
                <td th:text="${dog.birthDate}"></td>
                <td>
                    <a th:href="@{/dogs/info/{id}(id=${dog.id})}">
                        <svg th:replace="include/icon/info.html"></svg>
                    </a>
                </td>
                <td>
                    <a sec:authorize="hasRole('ADMIN')" th:href="@{/dogs/edit/{id}(id=${dog.id})}">
                        <svg th:replace="include/icon/edit.html"></svg>
                    </a>
                </td>
                <td>
                    <a sec:authorize="hasRole('ADMIN')" th:href="@{/dogs/delete/{id}(id=${dog.id})}">
                        <svg th:replace="include/icon/delete.html"></svg>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

        <div th:replace="include/pagination.html"></div>
    </main>
</div>

<footer th:replace="include/footer.html"></footer>
</body>
</html>