body {
    margin: 0;
    height: 600px;
    width: 800px;
    background: url(../images/0.png) no-repeat;
    position: absolute;
    font-family: "Roboto", sans-serif;
}

main {
    display: table;
    margin: 0;
    padding: 0;
    height: 530px;
    width: 760px;
    position: absolute;
}

ul {
    font-size: 14px;
    list-style-type: none;
    position: absolute;
    top: 470px;
    left: 590px;
    z-index: 200;
    display: none;
}

li {
    border: 1px solid black;
    background: aliceblue;
    padding: 5px 10px;
}

li:hover {
    background: #c8cfd6;
    cursor: pointer;
}

footer {
    position: relative;
    top: 560px;
    background: linear-gradient(#c8cfd6, aliceblue, #c8cfd6);
    height: 40px;
    width: 800px;
}

footer img {
    width: 30px;
    height: 30px;
    padding-top: 5px;
    margin-left: 15px;
    transition: all 0.4s linear;
}

main p {
    position: absolute;
    font-size: 12px;
    top: 10px;
    left: 10px;
    margin-top: 65px;
    margin-left: 5px;
    font-weight: bold;
}

main p:hover {
    text-decoration: underline;
}

#menu {
    top: 435px;
    left: -20px;
    width: 200px;
    padding-left: 20px;
}

a {
    text-decoration: none;
}

#menu li {
    padding-left: 20px;
}
