body {
    margin: 0;
    /*font-family: Lucida Console, Monaco, monospace;*/
    font-family: 'Comic Sans MS', cursive;
    background: url(images/4.jpg) no-repeat center center fixed;
    background-size: cover;
}

#tableD {
    line-height: 1.9em;
    width: 65%;
    margin: 25px auto;
    padding: 25px;
    color: white;
    border: 3px groove #FF8C00;
    background: linear-gradient(black, #6896ae, black);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 7s linear,
    opacity 7s linear;
    -moz-transition: visibility 7s linear,
    opacity 7s linear;
    -o-transition: visibility 7s linear,
    opacity 7s linear;
}

.id {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.id li:nth-child(even) {
    color: #FF8C00;
}

.color {
    color: #FF3D00;
}

#distance {
    position: absolute;
    left: 1035px;
    top: 250px;
    font-weight: bolder;
    text-align: left;
}

#up {
    margin: 0;
    padding: 1px;
    background: linear-gradient(black, #6896ae, black);
}

#up li {
    display: inline-block; /* Строчно-блочные элементы */
    background: #CA181A; /* Цвет фона */
    margin-right: 3px; /* Расстояние между пунктами меню */
    -webkit-transform: skewX(-30deg); /* Для Safari и Chrome */
    -moz-transform: skewX(-30deg); /* Для Firefox */
    -o-transform: skewX(-30deg); /* Для Opera */
    -ms-transform: skewX(-30deg); /* Для IE */
    transform: skewX(-30deg); /* CSS3 */
    border: 3px outset #CA181F;
}

#up a {
    color: #fff; /* Цвет ссылок */
    display: block; /* Блочный элемент */
    padding: 5px 15px; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    -webkit-transform: skewX(30deg); /* Для Safari и Chrome */
    -moz-transform: skewX(30deg); /* Для Firefox */
    -o-transform: skewX(30deg); /* Для Opera */
    -ms-transform: skewX(30deg); /* Для IE */
    transform: skewX(30deg); /* CSS3 */
}

#up li:hover {
    background: #0969A2; /* Цвет фона при наведении курсора мыши */
    border: 3px outset #0969A5;
}


