<html xmlns:th="http://www.thymeleaf.org" lang="en">

<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <h3 class="navbar-brand">Pet shelter</h3>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
            <button type="button" class="btn btn-outline-primary .mr-2" id="logout">Sing Out</button>
        </div>
    </nav>
</header>

<form method="post" id="logout-form" action="" th:action="@{/logout}">
    <input
            type="hidden"
            th:name="${_csrf.parameterName}"
            th:value="${_csrf.token}"/>
</form>

<script>
    const logoutLink = document.getElementById("logout");
    logoutLink.addEventListener("click", (e) => {
        e.preventDefault();
        const logoutForm = document.getElementById("logout-form");
        logoutForm.submit();
    });
</script>