<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head th:replace="post/include/head.html"></head>

<body>
<header th:replace="include/header.html"></header>

<!-- Page Content -->
<div class="container">

    <div class="row">
        <!-- Blog Entries Column -->

        <!-- Post Content Column -->
        <div class="col-md-8 top">

            <a sec:authorize="hasRole('ADMIN')" class="btn btn-primary float-right" th:href="@{/posts/create}">
                <svg th:replace="include/icon/add.html"></svg>
                Add new post</a>

            <div class="card mb-4 border-0">
                <!-- Title -->
                <h3 class="mt-4" th:text="${post.title}"></h3>
            </div>

            <a sec:authorize="hasRole('ADMIN')" class="float-right" th:href="@{/posts/delete/{id}(id=${post.id})}">
                <svg th:replace="include/icon/delete.html"></svg>
            </a>
            <a sec:authorize="hasRole('ADMIN')" class="float-right mr-md-3"
               th:href="@{/posts/edit/{id}(id=${post.id})}">
                <svg th:replace="include/icon/edit.html"></svg>
            </a>
            <hr>

            <!-- Date/Time -->
            <p th:text="${post.created}"></p>
            <hr>

            <!-- Preview File -->
            <div th:replace="post/include/show_post_file.html"></div>
            <hr>

            <div class="card mb-4">
                <!-- Post Content -->
                <h5 class="card-title font-italic" th:text="${post.subtitle}"></h5>

                <p class="card-text" th:text="${post.contents}"></p>
            </div>

        </div>
        <div th:replace="post/include/sidebar.html"></div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->

<!-- Footer -->
<footer th:replace="include/footer.html"></footer>
</body>
</html>

