body {
    background: linear-gradient(135deg, lightgray, lightgray 25%, #bebebe 25%);
    background-size: 20px 20px;
    background-position: center center;
    font-family: "Roboto", sans-serif;
}

.parent {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}

.block {
    width: 700px;
    height: 700px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

form {
    background: #20252c;
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
    width: 550px;
    position: relative;
    margin: 0 auto 0;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

input, select, option {
    background: #11161a;
    color: #c8cfd6;
    width: 350px;
    height: 40px;
    border-radius: 5px;
    border: 1px #11161a inset;
    border-bottom: 1px #424549 inset;
    border-right: 1px #424549 inset;
    margin: 5px 5px 5px 90px;
    padding-left: 20px;
    font-size: 16px;
}

select {
    width: 372px;
    height: 45px;
    font-size: 17px;
}

#line {
    text-align: center;
    margin-bottom: 40px;
    display: table;
}

#line img {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-right: 20px;
}

.box {
    width: 550px;
    height: 100px;
    margin: 40px auto;
}

#line h3 {
    display: inline-block;
    font-size: 35px;
    padding-top: 15px;
}

.effect {
    -webkit-box-shadow: 0 10px 6px -6px #11161a;
    -moz-box-shadow: 0 10px 6px -6px #11161a;
    box-shadow: 0 10px 6px -6px #11161a;
}

input[type=submit] {
    width: 100px;
    height: 40px;
    padding: 10px;
    background: linear-gradient(#00a9ad, #00bba3);
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 15px;
}

.flex {
    display: inline-block;
}

input:hover, select:hover {
    box-shadow: 0 0 5px rgba(0, 169, 173, 0.8);
}

input::placeholder {
    font-size: 16px;
    color: #c8cfd6;
}

a {
    font-size: 15px;
    margin-left: 20px;
    color: #c8cfd6;
    padding-top: 30px;
}