body {
    background: #20252c;
    color: #c8cfd6;
    font-family: "Gentium Book Basic", sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

aside {
    background-color: #20252c;
}

h4 {
    height: 50px;
    padding: 30px 0;
    color: white;
    font-size: 40px;
    position: relative;
    margin: 0;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-image: linear-gradient(to right, rgba(211, 212, 218, 0), rgba(211, 212, 218, 0.3) 40%, rgba(211, 212, 218, 0.3) 60%, rgba(211, 212, 218, 0));
}

h4:before {
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    background-image: linear-gradient(to right, rgba(211, 212, 218, 0), rgba(211, 212, 218, 0.8) 40%, rgba(211, 212, 218, 0.8) 60%, rgba(211, 212, 218, 0));
}

h4:after {
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    background-image: linear-gradient(to right, rgba(211, 212, 218, 0), rgba(211, 212, 218, 0.8) 40%, rgba(211, 212, 218, 0.8) 60%, rgba(211, 212, 218, 0));
}

aside h1 {
    text-align: center;
    margin-top: -100px;
}

ul {
    list-style-type: none;
    margin: 50px 0;
}

img {
    width: 50px;
    height: 50px;
    float: left;
}

.imgs {
    margin: 0 10px 10px;
    width: 200px;
    height: 150px;
    float: left;
    position: relative;
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
    transition: all 1s linear;
}

li {
    background: #c8cfd6;
    width: 600px;
    height: 200px;
    margin: 10px;
    float: left;
    position: relative;
    box-shadow: inset rgba(0, 0, 0, .6) 0 -3px 8px,
    inset rgba(252, 255, 255, .7) 0 3px 8px,
    rgba(0, 0, 0, .8) 0 3px 8px -3px;
    padding-top: 10px;
}

li span {
    color: #20252c;
    font-size: 16px;
}

li p {
    font-size: 17px;
    text-align: center;
    color: #20252c;
    font-weight: bold;
    text-decoration: underline;
}

li:hover {
    box-shadow: 2px 2px 2px rgba(246, 76, 43, 0.6);
}

main {
    width: 1400px;
    height: 1200px;
    padding-left: 50px;
    margin: auto auto 40px;
}

.button1 {
    position: absolute;
    width: 74px;
    height: 35px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 1px #777;
    color: #fff;
    border-radius: 5px;
    bottom: 0;
    margin: 10px;
    padding-top: 0;
    right: 0;
    font-size: 13px;
    padding-left: 10px;
}

.button25 {
    border: 2px solid #F64C2B;
    box-shadow: 0 0 0 60px rgba(0, 0, 0, 0) inset, .1em .1em .2em #800;
    background: linear-gradient(#FB9575, #F45A38 48%, #EA1502 52%, #F02F17);
}

.button25:active {
    box-shadow: 0 0 0 60px rgba(0, 0, 0, .05) inset;
}

footer {
    text-align: center;
    bottom: 0;
    height: 50px;
    background: #272d35;
    margin-top: 100px;
    box-shadow: -15px 5px 10px 10px #11161a;
    padding: 0;
    font-size: 14px;
    width: 100%;
}

footer p {
    padding-top: 15px;
}

#icon, #basket {
    position: fixed;
    top: 5px;
    left: 20px;
    z-index: 1000;
}

.inBlock {
    display: inline-block;
}

#icon p {
    text-align: center;
}

#basket {
    text-align: right;
    right: 10px;
    top: 0;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

.circle p {
    margin-top: 3px;
}

#basket img {
    float: right;
    width: 70px;
    height: 65px;
}

@-webkit-keyframes swing {
    15% {
        -webkit-transform: translateX(9px);
        transform: translateX(9px);
    }
    30% {
        -webkit-transform: translateX(-9px);
        transform: translateX(-9px);
    }
    40% {
        -webkit-transform: translateX(6px);
        transform: translateX(6px);
    }
    50% {
        -webkit-transform: translateX(-6px);
        transform: translateX(-6px);
    }
    65% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes swing {
    15% {
        -webkit-transform: translateX(9px);
        transform: translateX(9px);
    }
    30% {
        -webkit-transform: translateX(-9px);
        transform: translateX(-9px);
    }
    40% {
        -webkit-transform: translateX(6px);
        transform: translateX(6px);
    }
    50% {
        -webkit-transform: translateX(-6px);
        transform: translateX(-6px);
    }
    65% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

section:hover {
    -webkit-animation: swing 0.6s ease;
    animation: swing 0.6s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

section {
    width: 110px;
    float: right;
}

#goods span {
    color: red;
    float: right;
    right: 0;
    margin-top: 10px;
    padding-right: 5px;
    font-size: 20px;
}

#goods li {
    transition: all 0.4s linear;
    background: #2f3c45;
    width: 700px;
    height: 40px;
    border: 1px outset white;
    color: white;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    float: none;
    font-size: 20px;

}

#goods ul {
    background: red;
    list-style-type: none;
    text-align: left;
    padding: 0;
    width: 700px;
    font-size: 18px;
    margin: 0 auto 100px;
}

#goods li img {
    padding: 0 10px 0;
    width: 60px;
    height: 40px;
    margin: 0;
}

#goods li p {
    font-size: 18px;
    text-align: left;
    color: #c8cfd6;
    font-weight: normal;
    text-decoration: none;
    margin-top: 10px;
}

#goods li:hover {
    box-shadow: none;
}

h3 {
    text-align: center;
    padding-top: 20px;
    color: #20252c;
}

#order {
    width: 785px;
    background: #c8cfd6;
    margin: auto;
    border-radius: 10px;
    position: relative;
    max-width: 100%;
    margin-top: -2000px;
    z-index: 100;
    display: none;
    box-shadow: inset rgba(255, 255, 255, .6) 0 .3em .3em,
    inset rgba(0, 0, 0, .2) 0 -.1em .3em,
    rgb(200, 207, 214) 0 7px 1px,
    rgba(0, 0, 0, .2) 0 .5em 5px;
}

.transform {
    -webkit-animation: swing 2s ease;
    animation: swing 2s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.parent {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.block {
    width: 785px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

#sub {
    color: #fff;
    width: 100px;
    height: 40px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 17px;
    cursor: pointer;
    margin-bottom: 2px;
}

#close {
    width: 30px;
    height: 30px;
    float: right;
    padding: 0;
    margin: 10px;
}

form input {
    display: none;
}
