body {
    background: #efe5d0 url(../images/background.gif) top left;
    margin: 20px;
    font-family: "Roboto", sans-serif;
}

form {
    display: table;
    padding: 10px;
    border: thin dotted #7e7e7e;
    background-color: #e1ceb8;
    margin: 10% auto auto auto;
    font-size: 20px;
}

div.tableRow {
    display: table-row;
}

div.tableRow > label, div.tableRow > input {
    display: table-cell;
    vertical-align: top;
    padding: 3px;
}

div.tableRow label:first-child {
    text-align: right;
}

legend {
    font-weight: bold;
    font-size: 22px;
}

table {
    font-size: 20px;
    border: 2px outset black;
    background-color: #e1ceb8;
    border-collapse: collapse;
    margin: auto;
}

th, td {
    height: 40px;
    border: 2px outset white;
    text-align: center;
    padding: 10px;
    font-size: 18px;
}

td:hover {
    color: #f34515;
}

thead, col {
    background: #7e7e7e;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    border: 2px outset black;
}

input[type=submit] {
    width: 100px;
    padding: 10px 25px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.button19 {
    display: inline-block;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0, 0, 0, .5);
    user-select: none;
    padding: .7em 1.5em;
    border: 1px solid rgb(80, 32, 0);
    border-radius: 5px;
    outline: none;
    background: rgb(147, 80, 36) linear-gradient(rgb(106, 58, 26), rgb(147, 80, 36) 80%);
    box-shadow: 0 6px rgb(86, 38, 6),
    0 3px 15px rgba(0, 0, 0, .4),
    inset 0 1px rgba(255, 255, 255, .3),
    inset 0 0 3px rgba(255, 255, 255, .5);
    transition: .2s;
}

.button19:hover {
    background: rgb(167, 91, 41) linear-gradient(rgb(126, 69, 31), rgb(167, 91, 41) 80%);
}

.button19:active {
    background: rgb(120, 63, 25) linear-gradient(rgb(120, 63, 25) 20%, rgb(167, 91, 41));
    box-shadow: 0 2px rgb(86, 38, 6),
    0 1px 6px rgba(0, 0, 0, .4),
    inset 0 1px rgba(255, 255, 255, .3),
    inset 0 0 3px rgba(255, 255, 255, .5);
    -webkit-transform: translate(0, 4px);
    transform: translate(0, 4px);
}