body {
    background: beige;
    margin: 20px;
    font-family: "Roboto", sans-serif;
}

form {
    display: table;
    border-radius: 20px;
    padding: 10px;
    margin: 10% auto auto auto;
    font-size: 20px;
    border: 1px outset white;
}


table {
    font-size: 20px;
    border: 2px outset black;
    background-color: #a5e0ff;
    border-collapse: collapse;
    margin: 0 auto;
}

th, td {
    height: 40px;
    border: 2px outset white;
    text-align: center;
    padding: 10px;
    font-size: 18px;
}

td:hover {
    color: #f34515;
}

thead, col {
    background: #7e7e7e;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    border: 2px outset black;
}
