body {
  font-family:       Arial, Helvetica, sans-serif;
  background:        url(images/5.jpg)  no-repeat   center center fixed;
  background-size:   cover;
  font-style:        italic;
}

div{
  border:              1px ridge #898980;
  background-color:    white;
  padding:             12px;
  margin:              5px;
  text-align:          left;
}
.red{
  color:               #c80703;
  border:              1px ridge #c80703;
}
.guarantee {
  line-height:         1.9em;
  border:              2px ridge #898980;
  background-color:    #d4d4d4;
  padding:             4px;
  margin:              0px;
  position:            fixed; 
  left:                0%;
  border-radius:       5px;
}
p{
  padding:             0px;
  margin:              0px;
}
#game {
  line-height:         1.9em;
  border:              5px ridge #c80703;
  background-color:    #d4d4d4;
  padding:             25px;
  position:            absolute; 
  left:                50%;
  margin:              0px;

}
h4 {
  color:               #c80703;
}
h2{
  border-bottom:       thin dotted #888888;
  text-align:          center;
}
