body {
    background: url(../images/7.jpg) no-repeat center center fixed;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    color: white;
}

#card {
    background: url(../images/2.jpg) no-repeat center center fixed;
    background-size: cover;
    width: 740px;
    height: 480px;
    display: table;
    padding: 0;
    margin: auto;
    border-spacing: 15px;
    border-radius: 15px;
}

#title {
    text-align: left;
    font-size: 15px;
    margin: 20px 20px 30px;
    padding: 15px 100px 15px 70px;
    left: -70px;
    position: relative;
    width: 400px;
    transform: skewX(-25deg);
    background: linear-gradient(#ff4422, #ffa615);
    box-shadow: 0 0 5px #e2e2e2;
}

#title h4 {
    transform: skewX(25deg);
    padding-left: 0;
    text-shadow: 0 -1px rgba(0, 0, 0, .1);
    animation: pulsate 1.2s linear infinite;
    font-size: 21px;
}

@keyframes pulsate {
    50% {
        color: #fff;
        text-shadow: 0 -1px rgba(0, 0, 0, .3), 0 0 5px #ffd, 0 0 8px #fff;
    }
}

#card .marPadNull {
    margin: 0;
    padding: 0;
}

#card input {
    width: 398px;
    margin: 10px 20px;
    background: linear-gradient(white, #b4b4b4, grey);
    padding: 12px;
    border: 1px outset #b4b4b4;
    border-bottom: 2px outset #5b5b5b;
    font-size: 20px;
}

#card label {
    font-size: 15px;
    margin-left: 20px;
}

#card input[type=reset] {
    background: #ff4422;
    width: 100px;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 0;
    border-radius: 30px;
    float: right;
}

#card input:hover {
    border: 1px inset #ff704a;
    border-bottom: 2px outset #e3632f;
    box-shadow: 0 0 5px #ff704a;
}

#card .width {
    width: 92px;
    margin-left: 0;
    margin-right: 15px;
}

#titleTable {
    display: table;
    border-spacing: 20px;
}

#titleTable label {
    margin-left: 30px;
}

#main {
    width: 900px;
    height: 600px;
    margin: 0;
    padding: 0;
    top: 10%;
    left: 27%;
    position: absolute;
}

.moon {
    overflow: hidden;
    position: relative;
    width: 300px;
    height: 300px;
    z-index: 10;
    left: 520px;
    top: -320px;
    border-radius: 15px;
}

.moon img {
    position: relative;
    width: 120%;
    height: 120%;
    right: -55px;
}

