body {
    background: url(../images/aqva.jpg) no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

#mainButton {
    width: 397px;
    height: 580px;
    padding: 1px 15px 15px 25px;
    margin: auto;
    border-radius: 15px;
    background: rgba(67, 214, 187, 0.50);
    z-index: 100;
    bottom: 170px;
    left: 50%;
    position: fixed;
}

#mainButton h4 {
    margin: 30px 0 10px 0;
    font-size: 20px;
}

#treasure {
    bottom: -50px;
    left: 52%;
    position: fixed;
    z-index: 0;
    width: 300px;
}