<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="include/head.html"></head>

<body>
<header th:replace="include/header.html"></header>

<main role="main" class="my-size">
    <h3 class="text-center">Cat</h3>

    <form method="post" th:object="${catDto}" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}">

        <div class="form-group">
            <label for="date">Birth date</label>
            <input type="date" class="form-control" id="date" th:field="*{birthDate}" required autofocus>
            <span class="text-danger" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></span>
        </div>

        <div class="form-group">
            <label for="breed">Breed</label>
            <select class="form-control" id="breed" th:field="*{breedId}" required>
                <th:block th:each="breed : ${catBreeds}">
                    <option th:value="${breed.id}" th:text="${breed.name}"></option>
                </th:block>
            </select>
            <span class="text-danger" th:if="${#fields.hasErrors('breedId')}" th:errors="*{breedId}"></span>
        </div>

        <div class="form-group">
            <label for="area">Description</label>
            <textarea th:field="*{description}" class="form-control" id="area" rows="3" required></textarea>
            <span class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
        </div>

        <div class="form-group">
            <label for="photo">Photo</label>
            <input type="hidden" th:field="*{photo}">
            <input type="file" multiple class="form-control-file" name="img" accept=".jpg, .jpeg, .png" id="photo"/>
            <span class="text-danger" th:if="${#fields.hasErrors('photo')}" th:errors="*{photo}"></span>
        </div>

        <div class="form-check">
            <input th:field="*{gender}" class="form-check-input" type="radio"
                   name="gender" id="gender1" value="BOY" checked>
            <label class="form-check-label" for="gender1">
                Boy
            </label>
        </div>
        <div class="form-check">
            <input th:field="*{gender}" class="form-check-input" type="radio" name="gender" id="gender2" value="GIRL">
            <label class="form-check-label" for="gender2">
                Girl
            </label>
            <span class="text-danger" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></span>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </form>
</main>

<!--<div th:include="include/footer.html" class="fixed-bottom"></div>-->
</body>
</html>